.icon{
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 10px;
    width: 40px;
}

.icon:hover {
    width: 44px;
    margin: 8px;
    cursor: pointer;
}

.recipe_title{
    color: black;
    text-decoration: underline;
    font-size: 250%;
    margin: 10px 20px;
}

.recipe_desc{
    color: black;
    width: 800px;
    margin-left: 100px;
}

.recipe_img {
    width: 200px;
    border: 2px solid black;
    margin: 15px 70px 25px 25px;
    float: right;
    border-radius: 15px;
}

.both_sides{
    display: flex;
}

.left_side{
    width: 650px;
    margin: 20px;
}

.left_side button{
    color:white;
    background-color: green;
    border: 2px solid black;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    margin: 20px;
}

.left_side button:hover{
    cursor: pointer;
    width: 204px;
    height: 54px;
    margin:18px;
}


.right_side{
    display:block;
    width: 350px;
}

.img_container{
    width: 330px;
    height: 230px;
}

.ingredients{
    height: 190px;
    max-height: 190px;
    overflow-y:auto;
    margin-right: 10px;
    
}

.ingredients li{
    margin-left: 60px;
    color:black;
}

.ingredients_title{
    text-align: left;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 150%;
    text-decoration: underline;
    color:black;
}

li{
    text-align: left;
}

.method_title{
    color:black;
    text-align: left;
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-left: 25px;
}

.method_steps{
    height: 300px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

.method_steps li{
    color: black;
    display:list-item;
    margin-bottom: 10px; 
}
