.recipeTitle{
    text-align: center;
    color:black;
    margin: 25px;
    height: 40px;
}

.recipeBox{
    width:300px;
    height:400px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 60px 15px;
    background-color: rgb(0, 126, 6);
    transition: all 0.5s;
}


.recipeBox:hover {
    cursor: pointer;
}

.para {
    height: 400px;
    transform: translate(0px, -500px);
    position:relative;
    padding: 20px;
}

.para p{
    display: none;
}

.para:hover p{
    display: block;
    font-weight: bold;
    font-size: 120%;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    color: black;
}


.recipeBox:hover {
    background-color: rgb(186, 186, 186);
}

.recipeBox:hover img{
    opacity: 20%;
}

.recipeBox:hover h2{
    opacity: 20%;
}

.recipeImage{
    border-radius: 15px;
    width: 200px;
    vertical-align: middle;
    border: 2px solid black;
    margin-top: 50px;
}

.imageBox {
    width: 260px;
    height: 300px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}