@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Asterisk applies to all elements */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  align-items: center; /* Vertically center */
  max-width: 1000px;
  margin: 0 auto;
  background-color: transparent;
}

.navbar h1 {
  color: #ffffff;
  font-size: 3.5rem;
}

.navbar h3 {
  color: #ffffff;
  font-size: 130%;
}

.allLinks {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  padding: 5px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  height: 50px;
  line-height: 35px;
  text-align: center;
}

.links {
  text-decoration: none;
  padding: 6px;
  font-size: 1.5rem;
  color:#ffffff;
}

.links:hover{
  color:yellow;
  cursor: pointer;
}

.selected {
  padding: 6px;
  font-size: 1.5rem;
  color:#ffffff;
}

.content {
  width: 1000px;
  height: 600px;
  margin: 20px auto;
  padding: 0px;
  border: 2px solid #333;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(255, 255, 255, 0.344);
}

.topbar {
  width: 700px;
  margin-left: 150px;
  margin-right: 50px;
}

.logo{
  width: 100px;
  height: 100px;
}

.newTop{
  display: flex;
}